NETBOX_DB_NAME=netbox
NETBOX_DB_USER=netbox
NETBOX_DB_PASSWORD=change-me-db
NETBOX_SECRET_KEY=change-me-50-chars-minimum-secret-key-for-netbox
NETBOX_SUPERUSER=admin
NETBOX_SUPERUSER_EMAIL=admin@cia.local
NETBOX_SUPERUSER_PASSWORD=change-me-admin
NETBOX_ALLOWED_HOSTS=192.168.199.20,localhost
NETBOX_HTTP_PORT=8080
