NETBOX_DB_NAME=netbox
NETBOX_DB_USER=netbox
NETBOX_DB_PASSWORD={{ netbox_db_password }}
NETBOX_SECRET_KEY={{ netbox_secret_key }}
NETBOX_SUPERUSER={{ netbox_superuser | default('admin') }}
NETBOX_SUPERUSER_EMAIL={{ netbox_superuser_email | default('admin@cia.local') }}
NETBOX_SUPERUSER_PASSWORD={{ netbox_superuser_password }}
NETBOX_ALLOWED_HOSTS={{ netbox_allowed_hosts | default(ansible_host) }},localhost
NETBOX_HTTP_PORT={{ netbox_http_port | default(8080) }}
